.logo {
    width: 50px;
    height: 50px;
}

.herocontact {
    display: flex;
    flex-direction: column;
}

#contact-link {
    margin-top: 16px;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    font-weight: bold;
    background: var(--third-color);
    border-radius: 999px;
    max-width: 90px;
    transition: background 0.2s, color 0.2s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#contact-link:hover {
    background: var(--link-color);
    color: var(--text-color);
    text-decoration: underline;
}

#contact-linkheader {
    margin-top: 0px;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    font-weight: bold;
    background: var(--third-color);
    border-radius: 999px;
    max-width: 90px;
    transition: background 0.2s, color 0.2s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#contact-linkheader:hover {
    background: var(--link-color);
    color: var(--text-color);
    text-decoration: underline;
}

#hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 95%;
    margin: 0;
}

#hero-name {
    display: flex;
    flex-direction: row;
    align-items: baseline; /* test op zelfde hoogte */
    gap: 8px;
}

#hero-name h4 {
    color: lightgray;
}

@media (max-width: 768px) {
#hero {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}
}

#pfp {
    width: 500px;
    height: 500px;
    margin-left: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);   
}

@media (max-width: 768px) {
    #pfp {
    width: 80vw;
    height: auto;
    margin-left: 0;
    }
}

#projects {
    width: 100vw; /* Volledige viewport breedte */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-top: 64px;
}

#projects ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

#projects li {
    background: var(--second-color);
    padding: 10px;
    border-radius: 16px;
    width: 25vw;
    max-width: 90vw;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    box-sizing: border-box;
    text-align: left;
    transition: background 0.2s, color 0.2s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#projects li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    width: 150px;
    height: 40px;
    background-color: var(--third-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

#projects li a:hover {
    background: var(--link-color);
    color: var(--text-color);
    text-decoration: underline;
}

#tech-stack {
    width: 100vw; /* Volledige viewport breedte */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-top: 64px;
}

.tech-stack-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#tech-stack img {
    margin: 16px;
    max-width: 100px;
    height: auto;
}

#tech-stack li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--second-color);
    padding: 12px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: var(--text-color);
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    transition: background 0.2s, color 0.2s;
}


.social-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 24px;
}
.social-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    box-shadow: none;
    width: auto;
    height: auto;
    padding: 0;
    border-radius: 50%;
    background-color: var(--pfp-color);
    border: 8px solid var(--pfp-color);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.sociallink {
    transition: transform 0.2s;
    cursor: pointer;
}

.sociallink:hover {
    transform: scale(1.15);
}

.social-links a img {
    width: 36px;
    height: 36px;
    padding: 0;
    display: block;
}

.projectsimg {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
}

.tech-stackimg {
    width: 50%;
    height: auto;
    border-radius: 36px;
    margin: 0;
    padding: 24px;
}

.projectstitle {
    font-size: 1.2em;
    margin: 0;
    margin-top: 16px;
}

.projectstext {
    font-size: 1em;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 12px;
}

.titleh1 {
    font-size: 2em;
    margin: 0;
    margin-bottom: 32px;
}